<a href="https://colab.research.google.com/github/SiddharthDNathan/Global-Terrorism-EDA/blob/main/Global_Terrorism_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#Mounting google drive to access data and eliminating the need to upload it everytime.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
#importing necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [33]:
#Reading the data set which is in csv format via drive
df = pd.read_csv('/content/drive/MyDrive/Global Terrorism Data.csv', encoding = 'iso-8859-1')

<ipython-input-33-d3dab530e4da>:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Global Terrorism Data.csv', encoding = 'iso-8859-1')

In [34]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [35]:
df.shape

(181691, 135)

In [36]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [38]:
df.tail()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [ ]:
# The above df consists of 135 columns for unique categories of data which are not all usefull to use for further analysis, hence cleaning this data generating a new df that consists of just the columns which are of use to us while be our step number 1 od DATA CLEANING ( we will use code book tfor this step).

In [39]:
# generating a base data for analysis from primary raw data, this new df consists of select columns from primary df which are actuall needed for further analysis and answer question and providing insights.
GT_df = df.loc[:, ['iyear','imonth','iday','extended','country_txt','region_txt','city','latitude','longitude','vicinity','crit1','multiple','success','suicide','attacktype1_txt',
'targtype1_txt','natlty1_txt','gname','nperps','claimed','weaptype1_txt','nkill','nkillter','nwound','propextent_txt','ishostkid','ransom','nreleased']]

In [40]:
GT_df

,iyear,imonth,iday,extended,country_txt,region_txt,city,latitude,longitude,vicinity,...,nperps,claimed,weaptype1_txt,nkill,nkillter,nwound,propextent_txt,ishostkid,ransom,nreleased
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
1,1970,0,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,0,...,7.0,NaN,Unknown,0.0,NaN,0.0,NaN,1.0,1.0,NaN
2,1970,1,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
3,1970,1,0,0,Greece,Western Europe,Athens,37.997490,23.762728,0,...,NaN,NaN,Explosives,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,1970,1,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,0,...,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,0,Somalia,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,0,...,-99.0,1.0,Firearms,1.0,0.0,2.0,NaN,0.0,NaN,NaN
181687,2017,12,31,0,Syria,Middle East & North Africa,Jableh,35.407278,35.942679,1,...,-99.0,0.0,Explosives,2.0,0.0,7.0,Unknown,0.0,NaN,NaN
181688,2017,12,31,0,Philippines,Southeast Asia,Kubentog,6.900742,124.437908,0,...,-99.0,0.0,Incendiary,0.0,0.0,0.0,Unknown,0.0,NaN,NaN
181689,2017,12,31,0,India,South Asia,Imphal,24.798346,93.940430,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN
181690,2017,12,31,0,Philippines,Southeast Asia,Cotabato City,7.209594,124.241966,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN

In [41]:
GT_df.head()

,iyear,imonth,iday,extended,country_txt,region_txt,city,latitude,longitude,vicinity,...,nperps,claimed,weaptype1_txt,nkill,nkillter,nwound,propextent_txt,ishostkid,ransom,nreleased
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
1,1970,0,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,0,...,7.0,NaN,Unknown,0.0,NaN,0.0,NaN,1.0,1.0,NaN
2,1970,1,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
3,1970,1,0,0,Greece,Western Europe,Athens,37.997490,23.762728,0,...,NaN,NaN,Explosives,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,1970,1,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,0,...,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [42]:
GT_df.tail()

,iyear,imonth,iday,extended,country_txt,region_txt,city,latitude,longitude,vicinity,...,nperps,claimed,weaptype1_txt,nkill,nkillter,nwound,propextent_txt,ishostkid,ransom,nreleased
181686,2017,12,31,0,Somalia,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,0,...,-99.0,1.0,Firearms,1.0,0.0,2.0,NaN,0.0,NaN,NaN
181687,2017,12,31,0,Syria,Middle East & North Africa,Jableh,35.407278,35.942679,1,...,-99.0,0.0,Explosives,2.0,0.0,7.0,Unknown,0.0,NaN,NaN
181688,2017,12,31,0,Philippines,Southeast Asia,Kubentog,6.900742,124.437908,0,...,-99.0,0.0,Incendiary,0.0,0.0,0.0,Unknown,0.0,NaN,NaN
181689,2017,12,31,0,India,South Asia,Imphal,24.798346,93.940430,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN
181690,2017,12,31,0,Philippines,Southeast Asia,Cotabato City,7.209594,124.241966,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN

In [43]:
GT_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 28 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            181691 non-null  int64
 1   imonth           181691 non-null  int64
 2   iday             181691 non-null  int64
 3   extended         181691 non-null  int64
 4   country_txt      181691 non-null  object
 5   region_txt       181691 non-null  object
 6   city             181257 non-null  object
 7   latitude         177135 non-null  float64
 8   longitude        177134 non-null  float64
 9   vicinity         181691 non-null  int64
 10  crit1            181691 non-null  int64
 11  multiple         181690 non-null  float64
 12  success          181691 non-null  int64
 13  suicide          181691 non-null  int64
 14  attacktype1_txt  181691 non-null  object
 15  targtype1_txt    181691 non-null  object
 16  natlty1_txt      180132 non-null  object
 17  gname            181691 non-null  object
 18  nperps           110576 non-null  float64
 19  claimed          115571 non-null  float64
 20  weaptype1_txt    181691 non-null  object
 21  nkill            171378 non-null  float64
 22  nkillter         114733 non-null  float64
 23  nwound           165380 non-null  float64
 24  propextent_txt   64065 non-null   object
 25  ishostkid        181513 non-null  float64
 26  ransom           77381 non-null   float64
 27  nreleased        10400 non-null   float64
dtypes: float64(11), int64(8), object(9)
memory usage: 38.8+ MB

In [44]:
# checking for null values throughout data set
GT_df.isna().sum()

iyear                   0
imonth                  0
iday                    0
extended                0
country_txt             0
region_txt              0
city                  434
latitude             4556
longitude            4557
vicinity                0
crit1                   0
multiple                1
success                 0
suicide                 0
attacktype1_txt         0
targtype1_txt           0
natlty1_txt          1559
gname                   0
nperps              71115
claimed             66120
weaptype1_txt           0
nkill               10313
nkillter            66958
nwound              16311
propextent_txt     117626
ishostkid             178
ransom             104310
nreleased          171291
dtype: int64

In [45]:
#renaming column for better understanding of data they contain.
GT_df.rename(columns =
                  {'iyear':'year',
                   'imonth':'month',
                   'iday':'day',
                   'country_txt' : 'country',
                   'region_txt' : 'region',
                   'crit1' : 'crit',
                   'attacktype1_txt' : 'attacktype',
                   'targtype1_txt' : 'targettype',
                   'natlty1_txt' : 'nationalityofvic',
                   'gname' : 'organisation',
                   'claimed' : 'claimedresp',
                   'weaptype1_txt' : 'weapontype',
                   'nkill' : 'nkilled',
                   'nkillter' : 'nkillonlyter',
                   'nwound' : 'nwounded',
                   'propextent_txt' : 'propdamageextent',
                   'ishostkid' : 'victimkidnapped',
                   'ransom' : 'ransomdemanded',
                   }, inplace = True)

In [46]:
GT_df

,year,month,day,extended,country,region,city,latitude,longitude,vicinity,...,nperps,claimedresp,weapontype,nkilled,nkillonlyter,nwounded,propdamageextent,victimkidnapped,ransomdemanded,nreleased
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
1,1970,0,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,0,...,7.0,NaN,Unknown,0.0,NaN,0.0,NaN,1.0,1.0,NaN
2,1970,1,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,0,...,NaN,NaN,Unknown,1.0,NaN,0.0,NaN,0.0,0.0,NaN
3,1970,1,0,0,Greece,Western Europe,Athens,37.997490,23.762728,0,...,NaN,NaN,Explosives,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,1970,1,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,0,...,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,0,Somalia,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,0,...,-99.0,1.0,Firearms,1.0,0.0,2.0,NaN,0.0,NaN,NaN
181687,2017,12,31,0,Syria,Middle East & North Africa,Jableh,35.407278,35.942679,1,...,-99.0,0.0,Explosives,2.0,0.0,7.0,Unknown,0.0,NaN,NaN
181688,2017,12,31,0,Philippines,Southeast Asia,Kubentog,6.900742,124.437908,0,...,-99.0,0.0,Incendiary,0.0,0.0,0.0,Unknown,0.0,NaN,NaN
181689,2017,12,31,0,India,South Asia,Imphal,24.798346,93.940430,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN
181690,2017,12,31,0,Philippines,Southeast Asia,Cotabato City,7.209594,124.241966,0,...,-99.0,0.0,Explosives,0.0,0.0,0.0,NaN,0.0,NaN,NaN